<section class='m_widget about'>
<% if(config.avatar) { %>
<img class='avatar waves-image' src='<%= url_for(config.avatar) %>' />
<%} %>
<div class='header'><%=config.author %></div>
<div class='content'>
<div class='desc'><a href="http://47.108.81.144:8080/index.html">新增文章</a></div>
</div>
</section>